---
layout: page
title: Tags
header: Posts By Tag
#group: navigation
permalink: /tags-by-date
---
{% include JB/setup %}

<div class="row">
  <div class="col-xs-12 col-md-6">
    <ul class="nav nav-pills nav-justified sort-by-nav">
      <li role="presentation"><a href="/tags">
        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> Sort By Alphabet
      </a></li>
      <li role="presentation" class="active"><a href="#">
        <span class="glyphicon glyphicon glyphicon-calendar" aria-hidden="true"></span> Sort By Date
      </a></li>
    </ul>
  </div>
</div>

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list.html %}
</ul>


{% for tag in site.tags %} 
  <h2 id="{{ tag[0] | url_encode }}-ref">{{ tag[0] }}</h2>
  <div class="row">
    {% assign pages_list = tag[1] | sort: 'date' %}
    {% include JB/pages_list_video.html %}
  </div>
{% endfor %}
