  {% for post in posts_collate  %}
    {% if post.category == category %}
        <div id="{{ post.id }}-ref">
                <h3>
                    <a href="#{{ post.id }}-ref">{{ post.title }}</a>
                    {% if post.tagline %}<small>{{post.tagline}}</small>{% endif %} {%if post.author %}<small>by {{ post.author }}</small>{% endif %} <small>on {{ post.date | date_to_long_string }}</small>
                </h3>
            <div class="content">
                {{ post.content }}
            </div>
        </div>
        <hr>
    {% endif %}
  {% endfor %}