<div class="panel panel-default">
	<div class="panel-body">
    <!--<img style="width: 220px;margin-bottom:10px" src="{{ ASSET_PATH }}/../../tis-logo-large.png">-->
    <p>Welcome to <strong>Team Ideal Subs</strong>!</p>
    <p>We decided to create this platform because of the neverending issues with youtube, dailymotion, facebook, etc.</p>
    <p>We want the fans to have a place where they can enjoy all our content without having to worry about it disappearing the next day because it has been taken down.</p>
    <p>Enjoy your stay and thank you for watching!</p>
    <br>
    <a href="https://discord.gg/AkFd2j9" target="_blank"><img src="https://discordapp.com/api/guilds/250216966436945920/widget.png?style=shield"></a>
	</div>
</div>