<div class="row{% if page.url != '/' %} hidden-xs{% endif %}">
    <div class="col-sm-12">
        <div class="sidebar">
            <!--<img style="width: 220px;margin-bottom:10px" src="{{ ASSET_PATH }}/../../tis-logo-large.png">-->
            <div class="row">
                <div class="col-sm-12">
                    <p>Welcome to <strong>Team Ideal Subs</strong>!</p>
                    <p>I hope you guys enjoy our new home! You can check below to see what we are working on right now, and feel free to look at the Library to see all our past and most recent work!</p>

                    <p>Enjoy your stay and thank you for watching!</p>
                    <div class="well well-sm sidebar-contact">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Questions?<br>
                        <kbd>teamidealsubs@gmail.com</kbd>
                    </div>
                    <h4>Currently working on:</h4>
                    <p>Chungha and Chaeyeon Flower8 Cut</p> <!-- start flower8 bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                        </div>
                    </div> <!-- end flower8 progress bar -->

                    <p>Kiss The Radio (Gugudan)</p> <!-- start radio bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100" style="width: 21%">
                        </div>
                    </div> <!-- end radio progress bar -->

                    <p>SNL: 3min Junior Hyeyeon</p> <!-- start hyeyeon bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                        </div>
                    </div> <!-- end hyeyeon progress bar -->

                    <p>SNL: 3min Junior Soyee/Sally/Haebin</p> <!-- start haebin bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100" style="width: 21%">
                        </div>
                    </div> <!-- end haebin progress bar -->

                </div>
            </div>
            <div class="row discord-container">
                <a href="https://discord.gg/AkFd2j9" target="_blank"><img class="col-sm-12"
                                                                          src="https://discordapp.com/api/guilds/250216966436945920/widget.png?style=banner3"></a>
            </div>
        </div>
    </div>
</div>