<div class="row">
    <div class="col-sm-12">
        <div class="sidebar">
            <!--<img style="width: 220px;margin-bottom:10px" src="{{ ASSET_PATH }}/../../tis-logo-large.png">-->
            <div class="row">
                <div class="col-sm-12">
                    <p>Welcome to <strong>Team Ideal Subs</strong>!</p>
                    <p>We decided to create this platform because of the neverending issues with youtube, dailymotion,
                        facebook, etc.</p>
                    <p>We want the fans to have a place where they can enjoy all our content without having to worry
                        about it disappearing the next day because it has been taken down.</p>
                    <p>Enjoy your stay and thank you for watching!</p>
                    <div class="well well-sm sidebar-contact">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Questions? <a href="mailto:teamidealsubs@gmail.com">Ask us</a>!
                    </div>
                    <button class="sidebar-button">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Questions? <a href="mailto:teamidealsubs@gmail.com">Ask us</a>!
                    </button>
                </div>
            </div>
            <div class="row">
                <a href="https://discord.gg/AkFd2j9" target="_blank"><img class="col-sm-12"
                                                                          src="https://discordapp.com/api/guilds/250216966436945920/widget.png?style=banner3"></a>
            </div>
        </div>
    </div>
</div>